<h1>New Register</h1>
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>
<%= form_for :register, url: articles_path do |f| %>
<% if @register.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@register.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @register.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </p>
 <p>
    <%= form.label :lastname %><br>
    <%= form.text_area :lastname %>
  </p>
   <p>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </p>
   <p>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p>
   <p>
    <%= form.label :telephone %><br>
    <%= form.text_area :telephone %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', register_path %>