<p>
  <strong>Firstname:</strong>
  <%= @register.firstname %>
</p>
 
<p>
  <strong>Surname:</strong>
  <%= @register.surname %>
</p>
<p>
  <strong>Email:</strong>
  <%= @register.email %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @register.address %>
</p>
<p>
  <strong>Telephone:</strong>
  <%= @register.telephone %>
</p>
